*.7z
*.dat
*.err
*.exe
*.int
*.log
*.tmp
*.zip
**/.tmp.ssl

translations/*/text
translations/*.dat
data/text/english/cuts_female

release/data
release/ddraw.dll
release/ddraw.ini
release/sfall-mods.ini
release/translations/

release/mods/*
!release/mods/elevators.ini
!release/mods/f2_res.dat
!release/mods/rpu.ini
!release/mods/upu.ini
!release/mods/mods_order.txt

extra/bin/*
!extra/bin/dat2.exe
extra/inno/Output
extra/inno/release
extra/inno/translations
scripts_src/sfall
dat2.list
